<%- include('../layout/header') %>

<div class="container">
    <div class="row justify-content-center pt-5">
        <div class="col-4">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Welcome</h3> 
            </div>
            <div class="mt-2">
                <form action="/logout" method="post" class="d-grid">
                    <button type="submit" class="btn btn-warning">Logout</button>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('../layout/footer') %>
